.app {
  padding: 30px;
  height: 100%;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header a {
  margin-right: 10px;
}

.userSection {
  display: flex;
}

.userSection > div {
  margin-right: 10px;
}
