.postContainer {
  display: flex;
  justify-content: space-between;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.post img {
  margin-right: 10px;
}

.deletePostButton {
  height: fit-content;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}
