.post {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.editButton {
  align-self: flex-end;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 10px;
}
